body{
    margin: 0px;
}
header{
    width: 1920px;
    margin: auto;
    background-color: green;
    height: 124px;
   
}
.header{
    width: 1920px;
    height: 124px;
position: absolute;
padding-top: 47px;
padding-left: 10%;
display: flex;
}
.header a{
    text-decoration: none;
    color: white;
    }
.logo{
    margin: 0px;
    margin-right: 130px;
   font-weight: 700;
   font-size: 20px;
}
.logo1{
    margin: 0px;
    margin-right: 70px;
}
.name{
  
}
.search{
border: 2px solid white;
width: 440px ;
height: 50px;
position: relative;
bottom: 13px;
display: flex;
margin-right: 190px;
}
.section1{
    width: 280px;
    height: 50px;
    border-right: 2px solid white;
    display: flex;
}
.section1 img{
   
  }
.section1 a{
  margin: 0px;
  margin: auto;
  font-size: 25px;
  color: white;
}
.imgsearch{
    margin:-4px ; 
}
.section2{
    width: 160px ;
    height: 50px;
   padding-left: 5px;
}
.searchhref{
   margin: auto;
    margin-right: px;
    font-size: 25px;
    position: relative;
    bottom: 8px;
margin-right: 90px;
}
.ICON{
    display: flex;
    position: relative;
    bottom: 10px;
}
.icon1 p{
margin: 0px;
font-size: 14px;
color: white;
}
.icon1 img{
    margin-bottom: 5px;
    margin-right: 60px;
  
}
.icon2 p{
    margin: 0px;
    font-size: 14px;
    color: white;
    }
.icon2 img{
        margin-bottom: 5px;
        margin-right: 60px;

}
.icon3 p{
    margin: 0px;
    font-size: 14px;
    color: white;
    }
    .icon3 img{
        margin-bottom: 5px;
    }
.fon{
    margin: auto;
    width:1920px;
    height: 700px;
    background: rgb(250, 204, 2);
}
.info1{
    display: flex;
    padding-left:250px ;
}
.infotext{
    margin:0;
font-size: 60px;
}
.star{
    width: 214px;
    height: 194px;
    background: url(/image/Star\ 1.png) center/cover no-repeat;
}